In [1]:
import pandas as pd

In [2]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [6]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [9]:
import numpy as np
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[27, 90, 54],
       [39, 18, 87],
       [43, 37, 50]])

In [19]:
df1=pd.DataFrame(veriler ,index=["sütun1","sütun2","sütün3"],columns=["sütun1","sütun2","sütün3"])
df1

        sütun1  sütun2  sütün3
sütun1      27      90      54
sütun2      39      18      87
sütün3      43      37      50

In [20]:
veriler=[["Göknur","Duran",16],["Meryem","Ertas",17]]
veriler

[['Göknur', 'Duran', 16], ['Meryem', 'Ertas', 17]]

In [26]:
df2=pd.DataFrame(veriler,index=["ogrenci_1","ogrenci_2"],columns=["isim","soyad","yas"])
df2

             isim  soyad  yas
ogrenci_1  Göknur  Duran   16
ogrenci_2  Meryem  Ertas   17

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, ogrenci_1 to ogrenci_2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    2 non-null      object
 1   soyad   2 non-null      object
 2   yas     2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 64.0+ bytes

In [29]:
df.axes

[RangeIndex(start=0, stop=6, step=1), Index(['veri1'], dtype='object')]